{% load static %}
{% if blog.id == 1 %}
  <img src="{% static 'img/hepsiburada.jpeg' %}" class = "img-fluid" alt="">
{% endif %}
<!--
{% if Data.Siteismi == N11 %}
  <img src="{% static 'img/n11.jpeg' %}" class = "img-fluid" alt="">
{% endif %}
{% if Data.Siteismi == Turkcell %}
  <img src="{% static 'img/teknosa.jpeg' %}" class = "img-fluid" alt="">
{% endif %}
{% if Data.Siteismi == Ciceksepeti %}
  <img src="{% static 'img/trendyol.jpeg' %}" class = "img-fluid" alt="">
{% endif %}
{% if Data.Siteismi == Evkur %}
  <img src="{% static 'img/evkur.jpeg' %}" class = "img-fluid" alt="">
{% endif %}-->