{% load static %}

    <div class="g-4">
        <div class="card text-center" style="width: 18rem;">
        <img src="{{ notebook.İmageLink }}" alt="" style="width:200px; " class="rounded mx-auto d-block">
        <div class="card-body">
        <h6 class="card-title"> {{ notebook.Marka }} {{ notebook.ModelAdi}} {{ notebook.Modelno }} {{ notebook.İslemciTipi }} {{ notebook.İslemciNesli }} {{ notebook.Ram }} Ram {{ notebook.DiskBoyutu }} {{ notebook.DiskTürü }} {{ notebook.EkranBoyutu }} Laptop</h6>
        <p class ="card-text"></p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
          {% if notebook.Siteİsmi1 == "ciceksepeti" %}
            <img src="{% static 'img/ciceksepeti.jpeg' %}" class = "img-fluid" style="width:60px;" alt=""> 
          {% elif notebook.Siteİsmi1 == "n11" %}
            <img src="{% static 'img/n11.jpeg' %}" class = "img-fluid" style="width:60px;" alt=""> 
          {% elif notebook.Siteİsmi1 == "Trendyol" %}
            <img src="{% static 'img/trendyol.jpeg' %}" class = "img-fluid" style="width:60px;" alt="">
          {% elif notebook.Siteİsmi1 == "teknosa" %}
            <img src="{% static 'img/teknosa.jpeg' %}" class = "img-fluid" style="width:60px;" alt="">
          {% elif notebook.Siteİsmi1 == "evkur" %}
            <img src="{% static 'img/evkur.jpeg' %}" class = "img-fluid" style="width:60px;" alt=""> 
          {% elif notebook.Siteİsmi1 == "vatan" %}
            <img src="{% static 'img/vatan.jpeg' %}" class = "img-fluid" style="width:60px;" alt=""> 
          {% elif notebook.Siteİsmi1 == "magazam" %}
            <img src="{% static 'img/magazam.jpeg' %}" class = "img-fluid" style="width:60px;" alt=""> 
          {% endif %} 
            {{ notebook.Fiyat1 }} TL</li>
          <li class="list-group-item">
          {% if notebook.Siteİsmi2 == "ciceksepeti" %}
            <img src="{% static 'img/ciceksepeti.jpeg' %}" class = "img-fluid" style="width:60px;" alt=""> 
          {% elif notebook.Siteİsmi2 == "n11" %}
            <img src="{% static 'img/n11.jpeg' %}" class = "img-fluid" style="width:60px;" alt=""> 
          {% elif notebook.Siteİsmi2 == "Trendyol" %}
            <img src="{% static 'img/trendyol.jpeg' %}" class = "img-fluid" style="width:60px;" alt="">
          {% elif notebook.Siteİsmi2 == "teknosa" %}
            <img src="{% static 'img/teknosa.jpeg' %}" class = "img-fluid" style="width:60px;" alt="">
          {% elif notebook.Siteİsmi2 == "evkur" %}
            <img src="{% static 'img/evkur.jpeg' %}" class = "img-fluid" style="width:60px;" alt=""> 
          {% elif notebook.Siteİsmi2 == "vatan" %}
            <img src="{% static 'img/vatan.jpeg' %}" class = "img-fluid" style="width:60px;" alt=""> 
          {% elif notebook.Siteİsmi2 == "magazam" %}
            <img src="{% static 'img/magazam.jpeg' %}" class = "img-fluid" style="width:60px;" alt=""> 
          {% endif %} 
            {{ notebook.Fiyat2 }} TL</li>
        </ul>
        <a href="{% url 'details' notebook.id %}" class="btn btn-primary" style="font-size: 85%">Detayları Gör</a>
        <h1>{{ film.Fiyat }}</h1>
         </div>
       </div>
    </div>
 
