 {% load static %}
 

 <!--Marka-->

 <script src ="script.js"></script>
 <div>
    <div class="row border mt-3 bg-white "> 
      <h5 class="font-weight-semi-bold text-center my-3 border border-top-0">Marka</h5>  
    <div class="form-check mb-2 mx-2 ">
        <input class="form-check-input" type="checkbox" value="" id="Asus">
        <label class="form-check-label" for="Asus">
          Asus
        </label>
    </div>
    <div class="form-check mb-2 mx-2">
      <input class="form-check-input" id='Asusi' type='checkbox' value='Yes' name='testName' onclick="if(this.checked){myFunction()}">
      <input class="form-check-input" id='Asus' type='hidden' value='No' name='testName'>
      <label class="form-check-label" for="Acer">
        Acer
      </label>
    </div>
    <div class="form-check mb-2 mx-2">
        <input class="form-check-input" id='Asusi' type='checkbox' value='Yes' name='testName' onclick="if(this.checked){myFunction()}">
        <input class="form-check-input" id='Asus' type='hidden' value='No' name='testName'>
        <label class="form-check-label" for="Acer">
          <input type="checkbox" id="my-checkbox" onclick="isChecked()">
          <p id="message">Not Checked</p>
        </label>
      </div>
    <div class="form-check mb-2 mx-2">
      <input class="form-check-input" type="checkbox" value="" id="Apple">
      <label class="form-check-label" for="Apple">
        Apple
      </label>
    </div>
    <div class="form-check mb-2 mx-2">
      <input class="form-check-input" type="checkbox" value="" id="Casper">
      <label class="form-check-label" for="Casper">
        Casper
      </label>
    </div>
    <div class="form-check mb-2 mx-2">
      <input class="form-check-input" type="checkbox" value="" id="Dell">
      <label class="form-check-label" for="Dell">
        Dell
      </label>
    </div>
    <div class="form-check mb-2 mx-2">
      <input class="form-check-input" type="checkbox" value="" id="Hometech">
      <label class="form-check-label" for="Hometech">
        Hometech
      </label>
    </div>
    <div class="form-check mb-2 mx-2">
      <input class="form-check-input" type="checkbox" value="" id="HP">
      <label class="form-check-label" for="HP">
        HP
      </label>
    </div>
    <div class="form-check mb-2 mx-2">
      <input class="form-check-input" type="checkbox" value="" id="Lenovo">
      <label class="form-check-label" for="Lenovo">
        Lenovo
      </label>
    </div>
    <div class="form-check mb-2 mx-2">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Monster
      </label>
    </div>
    <div class="form-check mb-2 mx-2">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        MSI
      </label>
    </div>
    
  </div>
   </div>
  <!--Ram-->
   <div>
  <div class="row border mt-3 bg-white "> 
    <h5 class="font-weight-semi-bold text-center my-3 border border-top-0">Ram</h5>  
  <div class="form-check mb-2 mx-2 ">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
      4 GB
      </label>
  </div>
  <div class="form-check mb-2 mx-2">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
      8 GB
    </label>
  </div>
  <div class="form-check mb-2 mx-2">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
      16 GB
    </label>
  </div>
  <div class="form-check mb-2 mx-2">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
      32 GB
    </label>
  </div>
  <div class="form-check mb-2 mx-2">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
      64 GB
    </label>
  </div>
  <div class="form-check mb-2 mx-2">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
      128 GB
    </label>
  </div>
 </div>
   </div>
  <!--İşlemci-->
    <div>
<div class="row border mt-3 bg-white "> 
  <h5 class="font-weight-semi-bold text-center my-3 border border-top-0">İşlemci</h5>  
<div class="form-check mb-2 mx-2 ">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
    Intel i3
    </label>
</div>
<div class="form-check mb-2 mx-2">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
    Intel i5
  </label>
</div>
<div class="form-check mb-2 mx-2">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
    Intel i7
  </label>
</div>
<div class="form-check mb-2 mx-2">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
    Intel i9
  </label>
</div>
<div class="form-check mb-2 mx-2">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
    AMD
  </label>
</div>
<div class="form-check mb-2 mx-2">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
    Diğer
  </label>
</div>
</div>
   </div>
  <!--Ekran Boyutu-->
   <div>
    <div class="row border mt-3 bg-white "> 
      <h5 class="font-weight-semi-bold text-center my-3 border border-top-0">Ekran Boyutu</h5>  
    <div class="form-check mb-2 mx-2 ">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
        13.3"
        </label>
    </div>
    <div class="form-check mb-2 mx-2">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        14.0"
      </label>
    </div>
    <div class="form-check mb-2 mx-2">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        15.6"
      </label>
    </div>
    <div class="form-check mb-2 mx-2">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        16.1"
      </label>
    </div>
    <div class="form-check mb-2 mx-2">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        17.3"
      </label>
    </div>
  </div>
   </div>
  <!--Disk Türü-->
  <div>
    <div class="row border mt-3 bg-white "> 
      <h5 class="font-weight-semi-bold text-center my-3 border border-top-0">Disk Türü</h5>  
    <div class="form-check mb-2 mx-2 ">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
        HDD
        </label>
    </div>
    <div class="form-check mb-2 mx-2">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        SSD
      </label>
    </div>
  </div>
   </div>
  <!--Disk Boyutu-->
   <div>
    <div class="row border mt-3 bg-white "> 
      <h5 class="font-weight-semi-bold text-center my-3 border border-top-0">Disk Boyutu</h5>  
    <div class="form-check mb-2 mx-2 ">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
        256 GB
        </label>
    </div>
    <div class="form-check mb-2 mx-2">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        512 GB
      </label>
    </div>
    <div class="form-check mb-2 mx-2">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        1 TB
      </label>
    </div>
    <div class="form-check mb-2 mx-2">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        2 TB
      </label>
    </div>
  </div>
   </div>