{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <title>Document</title>
</head>
<body style="background-image: url('https://images.unsplash.com/photo-1491895200222-0fc4a4c35e18?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80');">
    {% include 'partials/_navbar.html' %}
    <div class="container mt-3">
        <div class = "row">
            <div class="col-12">
                <div class="card mb-3">
                    <div class="row">
                        <div class="col-md-3"> <h5></h5>
                            <div class="col border border-secondary">
                            <img src="{{ laptoplar.İmageLink }}" alt="" style="width:200px; " class="rounded mx-auto d-block">
                            </div>
                            <div class="col mt-3">
                            <h6>{{ laptoplar.Marka }} {{ laptoplar.ModelAdi}} {{ laptoplar.Modelno }} {{ laptoplar.İslemciTipi }} {{ laptoplar.İslemciNesli }} {{ laptoplar.Ram }} Ram {{ laptoplar.DiskBoyutu }} {{ laptoplar.DiskTürü }} {{ laptoplar.EkranBoyutu }} Laptop</h6>
                            </div>
                            </div>
                        <div class="col-md-9">
                            <div class="card-body">
                                <h5 class="card-title">
                                 <a href="#">
                                 </a>
                                </h5>
                                <div class = "row border border-secondary my-2">
                                    <div class = "col-2 py-3 my-1 border border-red py-2">
                                        {% if laptoplar.Siteİsmi1 == "ciceksepeti" %}
                                          <img src="{% static 'img/ciceksepeti.jpeg' %}" class = "img-fluid" alt=""> 
                                        {% elif laptoplar.Siteİsmi1 == "n11" %}
                                          <img src="{% static 'img/n11.jpeg' %}" class = "img-fluid" alt=""> 
                                        {% elif laptoplar.Siteİsmi1 == "Trendyol" %}
                                          <img src="{% static 'img/trendyol.jpeg' %}" class = "img-fluid" alt="">
                                        {% elif laptoplar.Siteİsmi1 == "teknosa" %}
                                          <img src="{% static 'img/teknosa.jpeg' %}" class = "img-fluid" alt="">
                                        {% elif laptoplar.Siteİsmi1 == "evkur" %}
                                          <img src="{% static 'img/evkur.jpeg' %}" class = "img-fluid" alt=""> 
                                        {% elif laptoplar.Siteİsmi1 == "vatan" %}
                                          <img src="{% static 'img/vatan.jpeg' %}" class = "img-fluid" alt=""> 
                                        {% endif %}               
                                      </div>
                                      <div class = "col-4 py-2 border border-red">{{laptoplar.Title1}}</div>
                                      <div class = "col-3 text-center">
                                          <div class ="row-6 border">
                                              {% if laptoplar.Puanı1 >= "5.0" %}
                                                  <img src="{% static 'img/5.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="small text-center">({{laptoplar.Puanı1}})</p>
                                              {% elif laptoplar.Puanı1 >= "5" %}
                                                  <img src="{% static 'img/5.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="small text-center">({{laptoplar.Puanı1}})</p>
                                              {% elif laptoplar.Puanı1 == "5" %}
                                                  <img src="{% static 'img/5.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="small text-center">({{laptoplar.Puanı1}})</p>
                                              {% elif laptoplar.Puanı1 >= "4.5" %}
                                                  <img src="{% static 'img/4.5.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="small text-center">({{laptoplar.Puanı1}})</p>
                                              {% elif laptoplar.Puanı1 >= "4.0" %}
                                                  <img src="{% static 'img/4.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="small text-center">({{laptoplar.Puanı1}})</p>
                                              {% elif laptoplar.Puanı1 >= "3.5" %}
                                                  <img src="{% static 'img/3.5.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="small text-center">({{laptoplar.Puanı1}})</p>
                                              {% elif laptoplar.Puanı1 >= "3.0" %}
                                                  <img src="{% static 'img/3.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="small text-center">({{laptoplar.Puanı1}})</p>
                                              {% elif laptoplar.Puanı1 >= "2.5" %}
                                                  <img src="{% static 'img/2.5.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="small text-center">({{laptoplar.Puanı1}})</p>  
                                              {% elif laptoplar.Puanı1 >= "2.0" %}
                                                  <img src="{% static 'img/2.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="small text-center">({{laptoplar.Puanı1}})</p>
                                              {% elif laptoplar.Puanı1 >= "1.5" %}
                                                  <img src="{% static 'img/1.5.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="small text-center">({{laptoplar.Puanı1}})</p>
                                              {% elif laptoplar.Puanı1 >= "1.0" %}
                                                  <img src="{% static 'img/1.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="small text-center">({{laptoplar.Puanı1}})</p>   
                                              {% elif laptoplar.Puanı1 >= "0.5" %}
                                                  <img src="{% static 'img/0.5.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="small text-center">({{laptoplar.Puanı1}})</p>
                                              {% elif laptoplar.Puanı1 > "0.0" %}
                                                  <img src="{% static 'img/0.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="small text-center">({{laptoplar.Puanı1}})</p>
                                              {% elif laptoplar.Puanı1 == "0" %}  
                                                  <img src="{% static 'img/0.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="small text-center">({{laptoplar.Puanı1}})</p>
                                              {% elif laptoplar.Puanı1 == "0.0" %}  
                                                  <img src="{% static 'img/0.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="small text-center">({{laptoplar.Puanı1}})</p>                                                         
                                              {% endif %}
                                              <div class ="row-9 py-2 border">
                                                Ücretsiz Kargo
                                                 <img src="{% static 'img/kargo.jpeg' %}" class = "" style="width:43px;" alt=""> 
                                             </div>
                                        </div>
                                      </div>
                                    <div class = "col-3 border border-secondary">
                                        <div class="row-4 text-center bg-success ">EN UCUZ!</div>
                                        <div class="row-4 border d-flex justify-content-center border-success"> 
                                          <h4>{{ laptoplar.Fiyat1 }} TL</h4></div>
                                        <div class="row-4 align-items-end text-center">
                                            <a class="btn btn-primary" href="{{ laptoplar.SiteLinki1 }}" role="button">Mağazaya Git</a>
                                        </div>
                                    </div>
                                    </div>
                                 <div class = "row border border-secondary my-2">
                                    <div class = "col-2 py-3 my-1 border border-red py-2">
                                      {% if laptoplar.Siteİsmi2 == "ciceksepeti" %}
                                        <img src="{% static 'img/ciceksepeti.jpeg' %}" class = "img-fluid" alt=""> 
                                      {% elif laptoplar.Siteİsmi2 == "n11" %}
                                        <img src="{% static 'img/n11.jpeg' %}" class = "img-fluid" alt=""> 
                                      {% elif laptoplar.Siteİsmi2 == "Trendyol" %}
                                        <img src="{% static 'img/trendyol.jpeg' %}" class = "img-fluid" alt="">
                                      {% elif laptoplar.Siteİsmi2 == "teknosa" %}
                                        <img src="{% static 'img/teknosa.jpeg' %}" class = "img-fluid" alt="">
                                      {% elif laptoplar.Siteİsmi2 == "evkur" %}
                                        <img src="{% static 'img/evkur.jpeg' %}" class = "img-fluid" alt=""> 
                                      {% elif laptoplar.Siteİsmi2 == "vatan" %}
                                        <img src="{% static 'img/vatan.jpeg' %}" class = "img-fluid" alt=""> 
                                      {% endif %}               
                                    </div>
                                    <div class = "col-4 py-2 border border-red">{{laptoplar.Title2}}</div>
                                    <div class = "col-3 text-center">
                                        <div class ="row-3 border">
                                            {% if laptoplar.Puanı2 == "5.0" %}
                                                <img src="{% static 'img/5.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                <p class="small text-center">({{laptoplar.Puanı2}})</p>
                                            {% elif laptoplar.Puanı2 >= "5" %}
                                                  <img src="{% static 'img/5.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="small text-center">({{laptoplar.Puanı2}})</p>
                                            {% elif laptoplar.Puanı2 >= "4.5" %}
                                                <img src="{% static 'img/4.5.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                <p class="small text-center">({{laptoplar.Puanı2}})</p>
                                            {% elif laptoplar.Puanı2 >= "4.0" %}
                                                <img src="{% static 'img/4.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                <p class="small text-center">({{laptoplar.Puanı2}})</p>
                                            {% elif laptoplar.Puanı2 >= "3.5" %}
                                                <img src="{% static 'img/3.5.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                <p class="small text-center">({{laptoplar.Puanı2}})</p>
                                            {% elif laptoplar.Puanı2 >= "3.0" %}
                                                <img src="{% static 'img/3.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                <p class="small text-center">({{laptoplar.Puanı2}})</p>
                                            {% elif laptoplar.Puanı2 >= "2.5" %}
                                                <img src="{% static 'img/2.5.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt=""> 
                                                <p class="small text-center">({{laptoplar.Puanı2}})</p>
                                            {% elif laptoplar.Puanı2 >= "2.0" %}
                                                <img src="{% static 'img/2.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                <p class="small text-center">({{laptoplar.Puanı2}})</p>
                                            {% elif laptoplar.Puanı2 >= "1.5" %}
                                                <img src="{% static 'img/1.5.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt=""> 
                                                <p class="small text-center">({{laptoplar.Puanı2}})</p>  
                                            {% elif laptoplar.Puanı2 >= "1.0" %}
                                                <img src="{% static 'img/1.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt=""> 
                                                <p class="small text-center">({{laptoplar.Puanı2}})</p>  
                                            {% elif laptoplar.Puanı2 >= "0.5" %}
                                                <img src="{% static 'img/0.5.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                <p class="small text-center">({{laptoplar.Puanı2}})</p>
                                            {% elif laptoplar.Puanı2 > "0.0" %}
                                                <img src="{% static 'img/0.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                <p class="small text-center">({{laptoplar.Puanı2}})</p>
                                            {% elif laptoplar.Puanı2 == "0" %}  
                                                <img src="{% static 'img/0.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt=""> 
                                                <p class="small text-center">({{laptoplar.Puanı2}})</p>
                                            {% elif laptoplar.Puanı2 == "0.0" %}  
                                                <img src="{% static 'img/0.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                <p class="small text-center">({{laptoplar.Puanı2}})</p>                                                                   
                                            {% endif %}</div>
                                        <div class ="row-9 py-2 border">
                                           Ücretsiz Kargo
                                            <img src="{% static 'img/kargo.jpeg' %}" class = "" style="width:43px;" alt=""> 
                                        </div>
                                    </div>
                                    <div class = "col-3 border border-secondary">
                                        <div class="row-4"><p></p></div>
                                        <div class="row-4 text-center border border-secondary">    
                                          <h4>{{ laptoplar.Fiyat2 }} TL</h4></div>
                                        <div class="row-4 text-center align-items-end">
                                            <a class="btn btn-primary" href="{{ laptoplar.SiteLinki2 }}" role="button">Mağazaya Git</a>
                                        </div>
                                    </div>
                                    </div>
                                    {% if laptoplar.SiteLinki3 != "NULL" %} 
                                    <div class = "row border border-secondary my-2">
                                      <div class = "col-2 py-3 my-1 border border-red py-2">
                                        {% if laptoplar.Siteİsmi3 == "ciceksepeti" %}
                                          <img src="{% static 'img/ciceksepeti.jpeg' %}" class = "img-fluid" alt=""> 
                                        {% elif laptoplar.Siteİsmi3 == "n11" %}
                                          <img src="{% static 'img/n11.jpeg' %}" class = "img-fluid" alt=""> 
                                        {% elif laptoplar.Siteİsmi3 == "Trendyol" %}
                                          <img src="{% static 'img/trendyol.jpeg' %}" class = "img-fluid" alt="">
                                        {% elif laptoplar.Siteİsmi3 == "teknosa" %}
                                          <img src="{% static 'img/teknosa.jpeg' %}" class = "img-fluid" alt="">
                                        {% elif laptoplar.Siteİsmi3 == "evkur" %}
                                          <img src="{% static 'img/evkur.jpeg' %}" class = "img-fluid" alt=""> 
                                        {% elif laptoplar.Siteİsmi3 == "vatan" %}
                                          <img src="{% static 'img/vatan.jpeg' %}" class = "img-fluid" alt=""> 
                                        {% endif %}               
                                      </div>
                                      <div class = "col-4 py-2 border border-red">{{laptoplar.Title3}}</div>
                                      <div class = "col-3 text-center">
                                          <div class ="row-3 border">
                                              {% if laptoplar.Puanı3 == "5.0" %}
                                                  <div class="container border">
                                                  <img src="{% static 'img/5.jpeg' %}"  class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="text-center">({{laptoplar.Puanı3}})</p></div>
                                              {% elif laptoplar.Puanı3 >= "5" %}
                                                  <img src="{% static 'img/5.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="small text-center">({{laptoplar.Puanı3}})</p>
                                              {% elif laptoplar.Puanı3 >= "4.5" %}                    
                                                  <img src="{% static 'img/4.5.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="small text-center">({{laptoplar.Puanı3}})</p> 
                                              {% elif laptoplar.Puanı3 >= "4.0" %}
                                                  <img src="{% static 'img/4.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="small text-center">({{laptoplar.Puanı3}})</p> 
                                              {% elif laptoplar.Puanı3 >= "3.5" %}
                                                  <img src="{% static 'img/3.5.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="small text-center">({{laptoplar.Puanı3}})</p> 
                                              {% elif laptoplar.Puanı3 >= "3.0" %}
                                                  <img src="{% static 'img/3.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="small text-center">({{laptoplar.Puanı3}})</p> 
                                              {% elif laptoplar.Puanı3 >= "2.5" %}
                                                  <img src="{% static 'img/2.5.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="small text-center">({{laptoplar.Puanı3}})</p> 
                                              {% elif laptoplar.Puanı3 >= "2.0" %}
                                                  <img src="{% static 'img/2.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="small text-center">({{laptoplar.Puanı3}})</p> 
                                              {% elif laptoplar.Puanı3 >= "1.5" %}
                                                  <img src="{% static 'img/1.5.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="small text-center">({{laptoplar.Puanı3}})</p>   
                                              {% elif laptoplar.Puanı3 >= "1.0" %}
                                                  <img src="{% static 'img/1.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="small text-center">({{laptoplar.Puanı3}})</p>   
                                              {% elif laptoplar.Puanı3 >= "0.5" %}
                                                  <img src="{% static 'img/0.5.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="small text-center">({{laptoplar.Puanı3}})</p> 
                                              {% elif laptoplar.Puanı3 > "0.0" %}
                                                  <img src="{% static 'img/0.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="small text-center">({{laptoplar.Puanı3}})</p> 
                                              {% elif laptoplar.Puanı3 == "0" %}  
                                                  <img src="{% static 'img/0.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="small text-center">({{laptoplar.Puanı3}})</p> 
                                              {% elif laptoplar.Puanı3 == "0.0" %}  
                                                  <img src="{% static 'img/0.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="small text-center">({{laptoplar.Puanı3}})</p>                                                                 
                                              {% endif %}
                                              <div class ="row-9 py-2 border">
                                                Ücretsiz Kargo
                                                 <img src="{% static 'img/kargo.jpeg' %}" class = "" style="width:43px;" alt=""> 
                                             </div>
                                        </div>
                                      </div>
                                      <div class = "col-3 border border-secondary">
                                        <div class="row-4"><p></p></div>
                                        <div class="row-4 text-center border border-secondary">    
                                          <h4>{{ laptoplar.Fiyat3 }} TL</h4></div>
                                        <div class="row-4 text-center align-items-end">
                                            <a class="btn btn-primary" href="{{ laptoplar.SiteLinki3 }}" role="button">Mağazaya Git</a>
                                        </div>
                                      </div>
                                      </div>
                                    {% endif %}
                                    {% if laptoplar.SiteLinki4 != "NULL" %} 
                                    <div class = "row border border-secondary my-2">
                                      <div class = "col-2 py-3 my-1 border border-red py-2">
                                        {% if laptoplar.Siteİsmi4 == "ciceksepeti" %}
                                          <img src="{% static 'img/ciceksepeti.jpeg' %}" class = "img-fluid" alt=""> 
                                        {% elif laptoplar.Siteİsmi4 == "n11" %}
                                          <img src="{% static 'img/n11.jpeg' %}" class = "img-fluid" alt=""> 
                                        {% elif laptoplar.Siteİsmi4 == "Trendyol" %}
                                          <img src="{% static 'img/trendyol.jpeg' %}" class = "img-fluid" alt="">
                                        {% elif laptoplar.Siteİsmi4 == "teknosa" %}
                                          <img src="{% static 'img/teknosa.jpeg' %}" class = "img-fluid" alt="">
                                        {% elif laptoplar.Siteİsmi4 == "evkur" %}
                                          <img src="{% static 'img/evkur.jpeg' %}" class = "img-fluid" alt=""> 
                                        {% elif laptoplar.Siteİsmi4 == "vatan" %}
                                          <img src="{% static 'img/vatan.jpeg' %}" class = "img-fluid" alt=""> 
                                        {% endif %}               
                                      </div>
                                      <div class = "col-4 py-2 border ">{{laptoplar.Title4}}</div>
                                      <div class = "col-3 text-center">
                                          <div class ="row-3 border">
                                              {% if laptoplar.Puanı4 == "5.0" %}
                                                  <img src="{% static 'img/5.jpeg' %}"  class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="small text-center">({{laptoplar.Puanı4}})</p>
                                              {% elif laptoplar.Puanı4 >= "5" %}
                                                  <img src="{% static 'img/5.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="small text-center">({{laptoplar.Puanı4}})</p>
                                              {% elif laptoplar.Puanı4 >= "4.5" %}
                                                  <img src="{% static 'img/4.5.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="small text-center">({{laptoplar.Puanı4}})</p>
                                              {% elif laptoplar.Puanı4 >= "4.0" %}
                                                  <img src="{% static 'img/4.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="small text-center">({{laptoplar.Puanı4}})</p>
                                              {% elif laptoplar.Puanı4 >= "3.5" %}
                                                  <img src="{% static 'img/3.5.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="small text-center">({{laptoplar.Puanı4}})</p>
                                              {% elif laptoplar.Puanı4 >= "3.0" %}
                                                  <img src="{% static 'img/3.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="small text-center">({{laptoplar.Puanı4}})</p>
                                              {% elif laptoplar.Puanı4 >= "2.5" %}
                                                  <img src="{% static 'img/2.5.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="small text-center">({{laptoplar.Puanı4}})</p>
                                              {% elif laptoplar.Puanı4 >= "2.0" %}
                                                  <img src="{% static 'img/2.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="small text-center">({{laptoplar.Puanı4}})</p> 
                                              {% elif laptoplar.Puanı4 >= "1.5" %}
                                                  <img src="{% static 'img/1.5.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="small text-center">({{laptoplar.Puanı4}})</p>  
                                              {% elif laptoplar.Puanı4 >= "1.0" %}
                                                  <img src="{% static 'img/1.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="small text-center">({{laptoplar.Puanı4}})</p> 
                                              {% elif laptoplar.Puanı4 >= "0.5" %}
                                                  <img src="{% static 'img/0.5.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="small text-center">({{laptoplar.Puanı4}})</p> 
                                              {% elif laptoplar.Puanı4 > "0.0" %}
                                                  <img src="{% static 'img/0.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="small text-center">({{laptoplar.Puanı4}})</p> 
                                              {% elif laptoplar.Puanı4 == "0" %}  
                                                  <img src="{% static 'img/0.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="small text-center">({{laptoplar.Puanı4}})</p>
                                              {% elif laptoplar.Puanı4 == "0.0" %}  
                                                  <img src="{% static 'img/0.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="small text-center">({{laptoplar.Puanı4}})</p>                                                                    
                                              {% endif %}
                                              <div class ="row-9 py-2 border">
                                                Ücretsiz Kargo
                                                 <img src="{% static 'img/kargo.jpeg' %}" class = "" style="width:43px;" alt=""> 
                                             </div>
                                        </div>
                                      </div>
                                      <div class = "col-3 border border-secondary">
                                        <div class="row-4"><p></p></div>
                                        <div class="row-4 text-center border border-secondary">    
                                          <h4>{{ laptoplar.Fiyat4 }} TL</h4></div>
                                        <div class="row-4 text-center align-items-end">
                                            <a class="btn btn-primary" href="{{ laptoplar.SiteLinki4 }}" role="button">Mağazaya Git</a>
                                        </div>
                                    </div>
                                      </div>
                                    {% endif %}
                                    {% if laptoplar.SiteLinki5 != "NULL" %} 
                                    <div class = "row border border-secondary my-2">
                                      <div class = "col-2 py-3 my-1 border border-secondary py-2">
                                        {% if laptoplar.Siteİsmi5 == "ciceksepeti" %}
                                          <img src="{% static 'img/ciceksepeti.jpeg' %}" class = "img-fluid" alt=""> 
                                        {% elif laptoplar.Siteİsmi5 == "n11" %}
                                          <img src="{% static 'img/n11.jpeg' %}" class = "img-fluid" alt=""> 
                                        {% elif laptoplar.Siteİsmi5 == "Trendyol" %}
                                          <img src="{% static 'img/trendyol.jpeg' %}" class = "img-fluid" alt="">
                                        {% elif laptoplar.Siteİsmi5 == "teknosa" %}
                                          <img src="{% static 'img/teknosa.jpeg' %}" class = "img-fluid" alt="">
                                        {% elif laptoplar.Siteİsmi5 == "evkur" %}
                                          <img src="{% static 'img/evkur.jpeg' %}" class = "img-fluid" alt=""> 
                                        {% elif laptoplar.Siteİsmi5 == "vatan" %}
                                          <img src="{% static 'img/vatan.jpeg' %}" class = "img-fluid" alt=""> 
                                        {% endif %}               
                                      </div>
                                      <div class = "col-4 py-2 border">{{laptoplar.Title5}}</div>
                                      <div class = "col-3 text-center">
                                          <div class ="row-3 border">
                                              {% if laptoplar.Puanı5 == "5.0" %}
                                                  <img src="{% static 'img/5.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="text-center">({{laptoplar.Puanı5}})</p>
                                              {% elif laptoplar.Puanı5 >= "5" %}
                                                  <img src="{% static 'img/5.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="small text-center">({{laptoplar.Puanı5}})</p>
                                              {% elif laptoplar.Puanı5 >= "4.5" %}
                                              <h6>{{laptoplar.Puanı5}}</h6>
                                                  <img src="{% static 'img/4.5.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="text-center">({{laptoplar.Puanı5}})</p>
                                              {% elif laptoplar.Puanı5 >= "4.0" %}
                                              <h6>{{laptoplar.Puanı5}}</h6>
                                                  <img src="{% static 'img/4.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="text-center">({{laptoplar.Puanı5}})</p>
                                              {% elif laptoplar.Puanı5 >= "3.5" %}
                                              <h6>{{laptoplar.Puanı5}}</h6>
                                                  <img src="{% static 'img/3.5.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="text-center">({{laptoplar.Puanı5}})</p>
                                              {% elif laptoplar.Puanı5 >= "3.0" %}
                                              <h6>{{laptoplar.Puanı5}}</h6>
                                                  <img src="{% static 'img/3.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="text-center">({{laptoplar.Puanı5}})</p>
                                              {% elif laptoplar.Puanı5 >= "2.5" %}
                                              <h6>{{laptoplar.Puanı5}}</h6>
                                                  <img src="{% static 'img/2.5.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="text-center">({{laptoplar.Puanı5}})</p>
                                              {% elif laptoplar.Puanı5 >= "2.0" %}
                                              <h6>{{laptoplar.Puanı5}}</h6>
                                                  <img src="{% static 'img/2.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="text-center">({{laptoplar.Puanı5}})</p>
                                              {% elif laptoplar.Puanı5 >= "1.5" %}
                                              <h6>{{laptoplar.Puanı5}}</h6>
                                                  <img src="{% static 'img/1.5.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="text-center">({{laptoplar.Puanı5}})</p>  
                                              {% elif laptoplar.Puanı5 >= "1.0" %}
                                              <h6>{{laptoplar.Puanı5}}</h6>
                                                  <img src="{% static 'img/1.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="text-center">({{laptoplar.Puanı5}})</p>
                                              {% elif laptoplar.Puanı5 >= "0.5" %}
                                              <h6>{{laptoplar.Puanı5}}</h6>
                                                  <img src="{% static 'img/0.5.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="text-center">({{laptoplar.Puanı5}})</p>
                                              {% elif laptoplar.Puanı5 > "0.0" %}
                                              <h6>{{laptoplar.Puanı5}}</h6>
                                                  <img src="{% static 'img/0.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="text-center">({{laptoplar.Puanı5}})</p> 
                                              {% elif laptoplar.Puanı5 == "0" %}  
                                                <h6>{{laptoplar.Puanı5}}</h6>
                                                  <img src="{% static 'img/0.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="text-center">({{laptoplar.Puanı5}})</p>  
                                              {% elif laptoplar.Puanı5 == "0.0" %}  
                                                <h6>{{laptoplar.Puanı5}}</h6>
                                                  <img src="{% static 'img/0.jpeg' %}" class = "img-fluid rounded mx-auto d-block" style="width:90px;" alt="">
                                                  <p class="text-center">({{laptoplar.Puanı5}})</p>                                                                  
                                              {% endif %}
                                              <div class ="row-9 py-2 border">
                                                Ücretsiz Kargo
                                                 <img src="{% static 'img/kargo.jpeg' %}" class = "" style="width:43px;" alt=""> 
                                             </div>
                                        </div>
                                      </div>
                                      <div class = "col-3 border border-red">
                                        <div class="row-4"><p></p></div>
                                        <div class="row-4 text-center border border-secondary">    
                                          <h4>{{ laptoplar.Fiyat5 }} TL</h4></div>
                                        <div class="row-4 text-center align-items-end">
                                            <a class="btn btn-primary" href="{{ laptoplar.SiteLinki5 }}" role="button">Mağazaya Git</a>
                                        </div>
                                    </div>
                                      </div>
                                    {% endif %}
                                </div>
                                <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ürün Özellikleri</h3>
                                    <table class="table table-hover">
      <thead>
        <tr>
            <th scope="col">Marka</th>
            <th scope="col">Model</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>{{laptoplar.Marka}}</td>
            <td>{{laptoplar.ModelAdi}}</td>
        </tr>
        <tr>
            <th scope="col">Model No</th>
            <th scope="col">İşletim Sistemi</th>
        </tr>
        <tr>
            <td>{{laptoplar.Modelno}}</td>
            <td>{{laptoplar.İşletimSistemi}}</td>
        </tr>
        <tr>
            <th scope="col">İşlemci Tipi</th>
            <th scope="col">İşlemci Nesli</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{laptoplar.İslemciTipi}}</td>
            <td>{{laptoplar.İslemciNesli}}</td>
          </tr>
          <tr>
            <th scope="col">Ram</th>
            <th scope="col">Ekran Boyutu</th>
          </tr>
          <tr>
            <td>{{laptoplar.Ram}}</td>
            <td>{{laptoplar.EkranBoyutu}}</td>
          </tr>
          <tr>
            <th scope="col">Disk Boyutu</th>
            <th scope="col">Disk Türü</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{laptoplar.DiskBoyutu}}</td>
            <td>{{laptoplar.DiskTürü}}</td>
          </tr>
      </tbody>
    </table>
                            </div>
                        </div>
                    </div>
                    
                 </div> 
            </div>
        </div>
</body>
</html>